.filter-input {
  display: inline-block;
  padding: .8rem 1.5rem;
  border-radius: 0;
  height: auto;
  border: none;
  border-bottom: 1px solid $color-light-grey-1;
  width: 20rem;
  font-size: 1.6rem;
  color: $color-light-grey-1;
  margin-bottom: 7rem;
}