.footer {
  padding: 8rem 0;
  background: $color-dark-grey-1;

  .col-md-12:not(:last-child) {
    @include respond(tab-port) { // width < 900?
      margin-bottom: 3rem;
    }
  }

  .list {
    padding-left: 1rem;
    padding-top: 2rem;
    .list-item {
      .list-link:link,
      .list-link:visited {
        color: $color-white;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.4rem;
        text-decoration: none;
        letter-spacing: normal;
        transition: all .3s;
      }

      .list-link:hover,
      .list-link:active {
        color: $color-main-2
      }
    }
  }

  .social-list {
    padding-top: 1rem;
    @include respond(tab-port) { // width < 900?
      margin: auto;
      display: flex;
      justify-content: center;
    }
    .social-item {
      @include respond(tab-port) { // width < 900?
        display: inline;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;

        @include respond(tab-port) { // width < 900?
          margin-right: 2rem;
        }
      }
      .social-link {
        &:link,
        &:visited {
          .icon-social {
            background: $color-white;
            color: $color-dark-grey-1;
            padding: 1rem;
            border-radius: 50%;
            font-size: 1.5rem;
            transition: all .4s;
            display: inline-block;
          }
        }

        &:hover,
        &:active {
          .icon-social {
            background: $color-main-1;
            color: $color-white;
          }
        }
      }
    }
  }
}

.copyrights {
  background: $color-black;
  color: $color-white;
  padding: 1rem 0 0 0;
  font-size: 1.4rem;

  @include respond(tab-port) { // width < 900?
    display: block !important;
    text-align: center;
  }
}